# package testing folders
datasets/
sandbox/
.directory
.idea/
.spyproject/

*.jpg
*.jpeg

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.dll

# Distribution / packaging
.coverage
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# dbar and tex folder
*.zip
*.mat
*.pdf
*.m
*.aux
*.bbl
*.blg
*.log
*.out
*.gz
*.thm
*.DS_Store
._data
*_Matlab


